In [25]:
using DataFrames, GLM , CSV

In [16]:
data = DataFrame( X=[1,2,3] , Y=[2,4,7] )

3×2 DataFrame
 Row │ X      Y
     │ Int64  Int64
─────┼──────────────
   1 │     1      2
   2 │     2      4
   3 │     3      7

In [45]:
#fit a model
m1 = lm( @formula(Y ~ X) , data )

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Y ~ 1 + X

Coefficients:
─────────────────────────────────────────────────────────────────────────
                 Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────
(Intercept)  -0.666667    0.62361   -1.07    0.4788   -8.59038    7.25704
X             2.5         0.288675   8.66    0.0732   -1.16797    6.16797
─────────────────────────────────────────────────────────────────────────

In [54]:
r2(m1)

0.9868421052631579

In [19]:
#predict new values
predict( m1 , DataFrame(X=[1.5, 4, 10]) )

3-element Vector{Union{Missing, Float64}}:
  3.0833333333333317
  9.33333333333334
 24.33333333333336

In [23]:
m1_fit = fit(LinearModel, @formula(Y ~ X) , data )

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Y ~ 1 + X

Coefficients:
─────────────────────────────────────────────────────────────────────────
                 Coef.  Std. Error      t  Pr(>|t|)  Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────
(Intercept)  -0.666667    0.62361   -1.07    0.4788   -8.59038    7.25704
X             2.5         0.288675   8.66    0.0732   -1.16797    6.16797
─────────────────────────────────────────────────────────────────────────

In [24]:
coef(m1_fit)

2-element Vector{Float64}:
 -0.6666666666666728
  2.500000000000003

In [27]:
titanic_df = DataFrame( CSV.File("titanic.csv") )

891×5 DataFrame
 Row │ Survived  Pclass  Sex      Age        Fare
     │ Int64     Int64   String7  Float64?   Float64
─────┼───────────────────────────────────────────────
   1 │        0       3  male          22.0   7.25
   2 │        1       1  female        38.0  71.2833
   3 │        1       3  female        26.0   7.925
   4 │        1       1  female        35.0  53.1
   5 │        0       3  male          35.0   8.05
   6 │        0       3  male     missing     8.4583
   7 │        0       1  male          54.0  51.8625
   8 │        0       3  male           2.0  21.075
   9 │        1       3  female        27.0  11.1333
  10 │        1       2  female        14.0  30.0708
  11 │        1       3  female         4.0  16.7
  ⋮  │    ⋮        ⋮        ⋮         ⋮         ⋮
 882 │        0       3  male          33.0   7.8958
 883 │        0       3  female        22.0  10.5167
 884 │        0       2  male          28.0  10.5
 885 │        0       3  male          25.0   7.05
 886 │        0       3  female        39.0  29.125
 887 │        0       2  male          27.0  13.0
 888 │        1       1  female        19.0  30.0
 889 │        0       3  female   missing    23.45
 890 │        1       1  male          26.0  30.0
 891 │        0       3  male          32.0   7.75
                                     870 rows omitted

In [50]:
describe( titanic_df )

5×7 DataFrame
 Row │ variable  mean      min     median   max      nmissing  eltype          ⋯
     │ Symbol    Union…    Any     Union…   Any      Int64     Type            ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Survived  0.383838  0       0.0      1               0  Int64           ⋯
   2 │ Pclass    2.30864   1       3.0      3               0  Int64
   3 │ Sex                 female           male            0  String7
   4 │ Age       29.6991   0.42    28.0     80.0          177  Union{Missing,
   5 │ Fare      32.2042   0.0     14.4542  512.329         0  Float64         ⋯
                                                                1 column omitted

In [28]:
m2 = fit(LinearModel, @formula(Age ~ Fare) , titanic_df )

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Age ~ 1 + Fare

Coefficients:
─────────────────────────────────────────────────────────────────────────────
                  Coef.  Std. Error      t  Pr(>|t|)    Lower 95%   Upper 95%
─────────────────────────────────────────────────────────────────────────────
(Intercept)  28.7842      0.647646   44.44    <1e-99  27.5127      30.0557
Fare          0.0263708   0.0102399   2.58    0.0102   0.00626671   0.0464748
─────────────────────────────────────────────────────────────────────────────

In [34]:
m1_probit = glm( @formula(Survived ~ Fare ) , titanic_df , Binomial(), ProbitLink() )

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Survived ~ 1 + Fare

Coefficients:
──────────────────────────────────────────────────────────────────────────────
                   Coef.  Std. Error      z  Pr(>|z|)    Lower 95%   Upper 95%
──────────────────────────────────────────────────────────────────────────────
(Intercept)  -0.563689    0.0564231   -9.99    <1e-22  -0.674276    -0.453102
Fare          0.00845736  0.00124106   6.81    <1e-11   0.00602493   0.0108898
──────────────────────────────────────────────────────────────────────────────

In [36]:
#predict new values
predict( m1_probit , DataFrame(Fare = [20,100]) )

2-element Vector{Union{Missing, Float64}}:
 0.3465905041543088
 0.6110463726333462

In [35]:
m2_probit = glm( @formula(Survived ~ Fare + Age) , titanic_df , Binomial(), ProbitLink() )

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Survived ~ 1 + Fare + Age

Coefficients:
───────────────────────────────────────────────────────────────────────────────
                   Coef.  Std. Error      z  Pr(>|z|)    Lower 95%    Upper 95%
───────────────────────────────────────────────────────────────────────────────
(Intercept)  -0.246053    0.113674    -2.16    0.0304  -0.46885     -0.0232552
Fare          0.00933569  0.00142315   6.56    <1e-10   0.00654637   0.012125
Age          -0.0102863   0.0034205   -3.01    0.0026  -0.0169904   -0.00358223
───────────────────────────────────────────────────────────────────────────────

In [37]:
#predict new values
predict( m2_probit , DataFrame(Fare = [20,100] , Age = [20,40]) )

2-element Vector{Union{Missing, Float64}}:
 0.3954797344412033
 0.6087507219048252

In [38]:
m3_probit = glm( @formula(Survived ~ Fare + Age + Fare*Age) , titanic_df , Binomial(), ProbitLink() )

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Survived ~ 1 + Fare + Age + Fare & Age

Coefficients:
──────────────────────────────────────────────────────────────────────────────────
                    Coef.   Std. Error      z  Pr(>|z|)    Lower 95%     Upper 95%
──────────────────────────────────────────────────────────────────────────────────
(Intercept)  -0.119275     0.152867     -0.78    0.4352  -0.418888     0.180338
Fare          0.00564342   0.00340449    1.66    0.0974  -0.00102925   0.0123161
Age          -0.0145791    0.00495057   -2.94    0.0032  -0.024282    -0.00487612
Fare & Age    0.000115214  0.000101819   1.13    0.2578  -8.4348e-5    0.000314776
──────────────────────────────────────────────────────────────────────────────────

In [39]:
predict( m3_probit , DataFrame(Fare = [20,100] , Age = [20,40]) )

2-element Vector{Union{Missing, Float64}}:
 0.4005583506669481
 0.6265615068980628

In [40]:
m3b_probit = fit( GeneralizedLinearModel , @formula(Survived ~ Fare + Age + Fare*Age) , titanic_df , Binomial(), ProbitLink() )

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, ProbitLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Survived ~ 1 + Fare + Age + Fare & Age

Coefficients:
──────────────────────────────────────────────────────────────────────────────────
                    Coef.   Std. Error      z  Pr(>|z|)    Lower 95%     Upper 95%
──────────────────────────────────────────────────────────────────────────────────
(Intercept)  -0.119275     0.152867     -0.78    0.4352  -0.418888     0.180338
Fare          0.00564342   0.00340449    1.66    0.0974  -0.00102925   0.0123161
Age          -0.0145791    0.00495057   -2.94    0.0032  -0.024282    -0.00487612
Fare & Age    0.000115214  0.000101819   1.13    0.2578  -8.4348e-5    0.000314776
──────────────────────────────────────────────────────────────────────────────────

In [41]:
#deviance of the model
deviance( m3b_probit )

892.4106653231531

In [49]:
m3b_logit = fit( GeneralizedLinearModel , @formula(Survived ~ Fare + Age + Fare*Age) , titanic_df , Binomial(), LogitLink() )

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Vector{Float64}, Binomial{Float64}, LogitLink}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Survived ~ 1 + Fare + Age + Fare & Age

Coefficients:
─────────────────────────────────────────────────────────────────────────────────
                    Coef.   Std. Error      z  Pr(>|z|)    Lower 95%    Upper 95%
─────────────────────────────────────────────────────────────────────────────────
(Intercept)  -0.111617     0.258745     -0.43    0.6662  -0.618747     0.395513
Fare          0.00751413   0.00606789    1.24    0.2156  -0.00437872   0.019407
Age          -0.0281442    0.00858851   -3.28    0.0010  -0.0449773   -0.011311
Fare & Age    0.000310027  0.000184739   1.68    0.0933  -5.20558e-5   0.00067211
─────────────────────────────────────────────────────────────────────────────────