In [1]:
using Plots

In [2]:
#import Pkg
#Pkg.add("RCall")
using RCall

In [4]:
#call R to perform some computation
R"sum(c(1,2,3,4,5,6,7,8,9,10))"

RObject{RealSxp}
[1] 55

In [5]:
R"rnorm(10)"

RObject{RealSxp}
 [1] -0.9783953 -0.7125664 -0.3369801 -1.2556020  1.1331482  0.1778831
 [7]  0.2131351 -0.8253660 -0.9482757 -0.1606809

In [6]:
R"mean(rnorm(100))"

RObject{RealSxp}
[1] -0.008501119

In [ ]:
#use R to perform a t-test
R"t.test(rnorm(10,0,2),rnorm(10,1,2))"

RObject{VecSxp}

	Welch Two Sample t-test

data:  rnorm(10, 0, 2) and rnorm(10, 1, 2)
t = -2.2397, df = 16.141, p-value = 0.03953
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -2.94081464 -0.08188164
sample estimates:
 mean of x  mean of y
-0.3309918  1.1803564

In [8]:
#use R to perform a t-test using data from Julia
using Random, Distributions
d1 = Normal(0,2)
d2 = Normal(1,2)
r1 = rand(d1,10)
r2 = rand(d2,10)
R"t.test($r1,$r2)"

RObject{VecSxp}

	Welch Two Sample t-test

data:  `#JL`$r1 and `#JL`$r2
t = -0.38858, df = 17.993, p-value = 0.7021
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -2.507007  1.724392
sample estimates:
  mean of x   mean of y
-0.06153839  0.32976931

In [10]:
#pass a function
f1(x,y) = x/(y+5)
R"$f1(2,5)"

RObject{RealSxp}
[1] 0.2

In [11]:
#use multiline statements in R, and then extract a variable from R's environment to copy it into Julia
R"""
r1b = $r1 - 1
xx = t.test(r1b,$r2)
"""
xx = rcopy(R"xx")
println(xx)
println(xx[:p_value])
println(xx[Symbol("p_value")])

OrderedCollections.OrderedDict{Symbol, Any}(:statistic => -1.3816259510436286, :parameter => 17.993426295443406, :p_value => 0.1840023235893069, :conf_int => [-3.5070073492055096, 0.7243919606575776], :estimate => [-1.061538387902558, 0.32976930637140833], :null_value => 0.0, :stderr => 1.0070074995500948, :alternative => "two.sided", :method => "Welch Two Sample t-test", :data_name => "r1b and `#JL`\$r2")
0.1840023235893069
0.1840023235893069

In [12]:
#'robject' function converts, changes, a julia 'object' to an RObject for R to use
dd1 = Dict("a"=>1,"b"=>2,"c"=>3)
println(dd1)
dd1r = robject(dd1)
println(dd1r)
R"typeof($dd1r)"

Dict("c" => 3, "b" => 2, "a" => 1)
RObject{VecSxp}
$c
[1] 3

$b
[1] 2

$a
[1] 1

RObject{StrSxp}
[1] "list"

In [13]:
#import R functions direct into Julia
@rimport base as Rbase

In [14]:
Rbase.c(1,2,3,10)

RObject{IntSxp}
[1]  1  2  3 10

In [15]:
Rbase.sum(Rbase.c(1,2,3,10))

RObject{IntSxp}
[1] 16

In [16]:
R"data(\"PlantGrowth\")"

RObject{StrSxp}
[1] "PlantGrowth"

In [17]:
rcopy(R"head(PlantGrowth)")

6×2 DataFrame
 Row │ weight   group
     │ Float64  Cat…
─────┼────────────────
   1 │    4.17  ctrl
   2 │    5.58  ctrl
   3 │    5.18  ctrl
   4 │    6.11  ctrl
   5 │    4.5   ctrl
   6 │    4.61  ctrl

In [18]:
pg = rcopy(R"PlantGrowth")

30×2 DataFrame
 Row │ weight   group
     │ Float64  Cat…
─────┼────────────────
   1 │    4.17  ctrl
   2 │    5.58  ctrl
   3 │    5.18  ctrl
   4 │    6.11  ctrl
   5 │    4.5   ctrl
   6 │    4.61  ctrl
   7 │    5.17  ctrl
   8 │    4.53  ctrl
   9 │    5.33  ctrl
  10 │    5.14  ctrl
  11 │    4.81  trt1
  ⋮  │    ⋮       ⋮
  21 │    6.31  trt2
  22 │    5.12  trt2
  23 │    5.54  trt2
  24 │    5.5   trt2
  25 │    5.37  trt2
  26 │    5.29  trt2
  27 │    4.92  trt2
  28 │    6.15  trt2
  29 │    5.8   trt2
  30 │    5.26  trt2
        9 rows omitted

In [19]:
pg

30×2 DataFrame
 Row │ weight   group
     │ Float64  Cat…
─────┼────────────────
   1 │    4.17  ctrl
   2 │    5.58  ctrl
   3 │    5.18  ctrl
   4 │    6.11  ctrl
   5 │    4.5   ctrl
   6 │    4.61  ctrl
   7 │    5.17  ctrl
   8 │    4.53  ctrl
   9 │    5.33  ctrl
  10 │    5.14  ctrl
  11 │    4.81  trt1
  ⋮  │    ⋮       ⋮
  21 │    6.31  trt2
  22 │    5.12  trt2
  23 │    5.54  trt2
  24 │    5.5   trt2
  25 │    5.37  trt2
  26 │    5.29  trt2
  27 │    4.92  trt2
  28 │    6.15  trt2
  29 │    5.8   trt2
  30 │    5.26  trt2
        9 rows omitted